.post_box{
    margin-top: 20%;
}

.save-change{
    width: 25%;
    height: 80px;
    background-color: $mainColor;
    border-radius: 10px;
    display: flex;
    position: absolute;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    bottom: 100px;
    right: 10px;
}

.view-view{
    margin-left: 300px;
    button{
        background-color: $mainColor;
        font-size: 30px;
        color: white;
        width: 40%;
        height: 80px;
    }
    
}

