.box {
    position: absolute;
    left: -200px;
    overflow: hidden;
  }
  .box-entered {
    left: 200px;
  }
  .box-entering {
    animation-name: entering;
    animation-duration: 2s;
  }
  .box-exiting {
    animation-name: leaving;
    animation-duration: 1s;
  }
  @keyframes entering {
    0% {
      left: 50px;
    }
    100% {
      left: 200px;
    }
  }
  
  @keyframes leaving {
    0% {
      left: 200px;
    }
    100% {
      left: 50px;
    }
  }